.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -3.5px;
}
.Single-color-palette .ColorBox {
  height: 50%;
}
.ColorBox.go-back {
  background-color: black;
}
/* Button style */
.copy-button,
.back-button {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  cursor: pointer;

  text-align: center;
  outline: none;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  text-transform: uppercase;
  line-height: 30px;
  border: none;
  text-decoration: none;
  transition: 0.3s ease;
  z-index: 5;
}
.copy-button {
  opacity: 0;
}
.ColorBox:hover .copy-button {
  opacity: 1;
  transition: 0.3s ease;
}

/* Name of color */
.box-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  padding: 10px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}
/* See more button */
.see-more {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  text-align: center;
}
/* Copy overlay div */
.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.1);
  transition: transform 0.6s ease-in-out;
}
.copy-overlay.show {
  opacity: 1;
  transform: scale(50);
  z-index: 10;
  position: absolute;
}
/* Copy message div */
.copy-msg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 4rem;
  opacity: 0;
  transform: scale(0.1);
  color: white;
}
.copy-msg.show {
  transition-delay: 0.3s;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  transform: scale(1);
  z-index: 20;
}
.copy-msg h2 {
  font-weight: 400;
  width: 100%;
  text-shadow: 1px 2px black;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 1rem;
}
.copy-msg p {
  font-size: 2rem;
  font-weight: 200;
}
