.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -3.5px;
}
/* Button style */
.copy-button {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  cursor: pointer;

  text-align: center;
  outline: none;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  text-transform: uppercase;
  line-height: 30px;
  border: none;
  opacity: 0;
  transition: 0.3s ease;
}
.ColorBox:hover .copy-button {
  opacity: 1;
  transition: 0.3s ease;
}

/* Name of color */
.box-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  padding: 10px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}
/* See more button */
.see-more {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  text-align: center;
}
