@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo {
  font-weight: 300;
  font-size: 1rem;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-right: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: white;
}
.slider {
  width: 340px;
  margin: 0 10px;
  /* display: inline-block; */
}
.Palette .rc-slider-track {
  background-color: transparent;
}
.Palette .rc-slider-rail {
  height: 8px;
}
.Palette .rc-slider-handle,
.Palette .rc-slider-handle:active,
.Palette .rc-slider-handle:hover,
.Palette .rc-slider-handle:focus {
  background-color: green;
  outline: none;
  border: 2px solid green;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
}
.select-container {
  margin-left: auto;
  margin-right: 20px;
}
