.Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.palette-colors {
  height: 89vh;
}
.palette-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  font-weight: bold;
}
.emoji {
  margin: 0 7px;
  font-size: 1.5rem;
}
